---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
      {% if page.cv_pdf %}
        <a
          {% if page.cv_pdf contains '://' %}
            href="{{ page.cv_pdf }}"
          {% else %}
            href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
          {% endif %}
          target="_blank"
          rel="noopener noreferrer"
          class="float-right"
        >
          <i class="fa-solid fa-file-pdf"></i>
        </a>
      {% endif %}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="cv">
      {% if page.use_json_resume and site.data.resume %}
        {% for data in site.data.resume %}
          {% if site.jsonresume and site.jsonresume.size > 0 %}
            {% unless site.jsonresume contains data[0] %}
              {% continue %}
            {% endunless %}
          {% endif %}
          {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
          <a class="anchor" id="{{ data[0] }}"></a>
          <div class="card mt-3 p-3">
            {% case data[0] %}
              {% when 'basics' %}
                {% assign section_title = 'Contact Information' %}
              {% when 'contact_information' %}
                {% assign section_title = 'Contact Information' %}
              {% when 'research_experience' %}
                {% assign section_title = 'Research Experience' %}
              {% when 'research_experiences' %}
                {% assign section_title = 'Research Experiences' %}
              {% when 'awards' %}
                {% assign section_title = 'Academic Distinctions' %}
              {% when 'academic_distinctions' %}
                {% assign section_title = 'Academic Distinctions' %}
              {% when 'grants' %}
                {% assign section_title = 'Monetary Awards and Grants' %}
              {% when 'monetary_grants_and_awards' %}
                {% assign section_title = 'Monetary Awards and Grants' %}
              {% when 'volunteer' %}
                {% assign section_title = 'Community Engagement' %}
              {% when 'community_engagement' %}
                {% assign section_title = 'Community Engagement' %}
              {% else %}
                {% assign section_title = data[0] | capitalize %}
            {% endcase %}
            <h3 class="card-title font-weight-medium">{{ section_title }}</h3>
            <div>
              {% case data[0] %}
                {% when 'basics' %}
                  {% include resume/basics.liquid %}
                {% when 'contact_information' %}
                  {% include resume/basics.liquid %}
                {% when 'education' %}
                  {% include resume/education.liquid %}
                {% when 'work' %}
                  {% include resume/work.liquid %}
                {% when 'research_experience' %}
                  {% include resume/work.liquid %}
                {% when 'research_experiences' %}
                  {% include resume/work.liquid %}
                {% when 'volunteer' %}
                  {% include resume/volunteer.liquid %}
                {% when 'community_engagement' %}
                  {% include resume/volunteer.liquid %}
                {% when 'awards' %}
                  {% include resume/awards.liquid %}
                {% when 'academic_distinctions' %}
                  {% include resume/awards.liquid %}
                {% when 'grants' %}
                  {% include resume/grants.liquid %}
                {% when 'monetary_grants_and_awards' %}
                  {% include resume/grants.liquid %}
                {% when 'publications' %}
                  {% include resume/publications.liquid %}
                {% when 'presentations' %}
                  {% include resume/presentations.liquid %}
                {% when 'mentorship' %}
                  {% include resume/mentorship.liquid %}
              {% endcase %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No JSON Resume data available.</p>
      {% endif %}
    </div>
  </article>
</div>
